@model IEnumerable<SmartPhone.Models.Order>
@{
    ViewData["Title"] = "MyOrder";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}

<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="text-center">STT</th>
                <th class="text-center">Mã ĐH</th>
                <th>Ngày đặt</th>
                <th>Sản phẩm</th>
                <th>Tổng tiền</th>
                <th class="text-center">Trạng thái</th>
            </tr>
        </thead>
        <tbody>
            @{ var i = 1;}
            @foreach (var item in Model)
            {
                    <tr>
                        <td class="text-center">
                            <span class="list-img">@(i++)</span>
                        </td>

                        <td class="text-center">
                            <a asp-action="MyOrderDetail" asp-route-id="@item.Code" style="color: blue !important">#@item.Code</a> 
                        </td>
                        <td>
                            <span class="list-img">@item.CreatedAt.ToString("dd/MM/yyyy")</span>
                        </td>
                        <td>
                            <span class="list-img">@Html.DisplayFor(modelItem => item.Product.Name)</span>
                        </td>
                        <td>
                            <span class="list-img"> @item.Total.ToString("0,0", System.Globalization.CultureInfo.CreateSpecificCulture("el-GR")) VNĐ </span>
                        </td>
                        <td class="text-center">
                            <a asp-action="UpdateStatus" asp-route-id="@item.Id"> @item.orderStatus.Name</a>

                        </td>
                    </tr>
                
            }


        </tbody>
    </table>
</div>


