@model IEnumerable<SmartPhone.Models.Cart>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}

<section class="flat-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumbs">
                    <li class="trail-item">
                        <a href="#" title="">Home</a>
                        <span><img src="~/home/images/icons/arrow-right.png" alt=""></span>
                    </li>
                    <li class="trail-item">
                        <a href="#" title="">Shop</a>
                        <span><img src="~/home/images/icons/arrow-right.png" alt=""></span>
                    </li>
                    <li class="trail-end">
                        <a href="#" title="">Smartphones</a>
                    </li>
                </ul><!-- /.breacrumbs -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>

<section class="flat-checkout">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="box-checkout">
                    <form action="#" method="get" class="checkout" accept-charset="utf-8">
                        <div class="shipping-address-fields">
                            <div class="fields-title">
                                <h3 class="title">Địa chỉ giao hàng</h3>
                                <span></span>
                                <div class="clearfix"></div>
                            </div><!-- /.fields-title -->
                            <div class="fields-content">
                                @*<div class="checkbox">
            <input type="checkbox" id="create-account-2" name="create-account-2" checked>
            <label for="create-account-2">Ship to a different address ?</label>
        </div>*@
                                @foreach (var item in Model)
                                {
                                    <div class="field-row">
                                        <p class="field-one-half">
                                            <label for="first-name-2">Họ tên </label>
                                            <input asp-for="@item.User.Name" type="text" id="first-name-2" name="first-name-2" placeholder="Nhập họ tên">
                                        </p>

                                        <p class="field-one-half">
                                            <label for="first-name-2">Số điện thoại </label>
                                            <input asp-for="@item.User.Phone" type="text" id="address" name="first-name-2" placeholder="Nhập số điện thoại">
                                        </p>
                                        <div class="clearfix"></div>
                                    </div>


                                    <div class="field-row">
                                        <label for="address-3">Địa chỉ *</label>
                                        <input asp-for="@item.User.Address" type="text" id="address-3" name="address-3" placeholder="Nhập địa chỉ nhận hàng của bạn">
                                    </div>
                                    break;
                                }


                                <div class="field-row">
                                    <label for="notes">Ghi chú</label>
                                    <textarea id="notes" placeholder="Để lại lời nhắn cho người bán"></textarea>
                                </div>
                            </div><!-- /.fields-content -->
                        </div><!-- /.shipping-address-fields -->




                    </form><!-- /.checkout -->
                </div><!-- /.box-checkout -->
            </div><!-- /.col-md-7 -->
            <div class="col-md-5">
                <div class="cart-totals style2">
                    <h3>Thông tin thanh toán</h3>
                    <form action="#" method="get" accept-charset="utf-8">
                        @{ decimal total = 0;}
                        <table class="product">
                            <thead>
                                <tr>
                                    <th>Sản phẩm</th>
                                    <th>Tổng tiền</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {

                                <tr>
                                    @{
                                        var tong = item.Product.SalePrice * item.Quantity;
                                        total = total + tong;
                                    }
                                    <td> @item.Quantity x <a style="color: #f28b00" asp-action="Details" asp-controller="Home" asp-route-id="@item.Id">@item.Product.Name </a></td>
                                    <td>@tong.ToString("0,0", System.Globalization.CultureInfo.CreateSpecificCulture("el-GR")) &#8363</td>
                                </tr>
                                }
                            </tbody>
                        </table><!-- /.product -->
                        <table>
                            <tbody>
                                <tr>
                                    <td>Tạm tính</td>
                                    <td class="subtotal">@total.ToString("0,0", System.Globalization.CultureInfo.CreateSpecificCulture("el-GR")) &#8363</td>
                                </tr>
                                <tr>
                                    <td>Phí vận chuyển</td>
                                    <td class="btn-radio">
                                        <label for="free-shipping">Miễn phí</label>
                                    </td><!-- /.btn-radio -->
                                </tr>
                                <tr>
                                    <td>Tổng thanh toán</td>
                                    <td class="price-total">@total.ToString("0,0", System.Globalization.CultureInfo.CreateSpecificCulture("el-GR")) &#8363</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="btn-radio style2">
                            <div class="radio-info">
                                <input type="radio" id="flat-payment" checked name="radio-cash-2">
                                <label for="flat-payment">Thanh toán tiền mặt khi nhận hàng</label>
                            </div>
                            <div class="radio-info">
                                <input type="radio" id="bank-transfer" name="radio-cash-2">
                                <label for="bank-transfer">Thanh toán bằng thẻ quốc tế Visa, Master, JCB</label>
                            </div>
                            <div class="radio-info">
                                <input type="radio" id="cash-delivery" name="radio-cash-2">
                                <label for="cash-delivery">Thẻ ATM nội địa/Internet Banking (Miễn phí thanh toán)</label>
                            </div>
                            <div class="radio-info">
                                <input type="radio" id="paypal" name="radio-cash-2">
                                <label for="paypal">Thanh toán bằng MoMo</label>
                            </div>
                        </div><!-- /.btn-radio style2 -->
                       
                        <div class="btn-order">
                            <a href="#" class="order" title="">Đặt hàng</a>
                        </div><!-- /.btn-order -->
                    </form>
                </div><!-- /.cart-totals style2 -->
            </div><!-- /.col-md-5 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.flat-checkout -->
