@using Microsoft.AspNetCore.Http;
@using Sammishop.Lib;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@{
    ViewData["Title"] = "HomeLayout";

}

<!DOCTYPE html>
<html>
<!--<![endif]-->
<!-- Mirrored from grandetest.com/theme/techno-html/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 23 Feb 2019 15:54:53 GMT -->
<head>
    <!-- Basic Page Needs -->
    <meta charset="UTF-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>Sammishop - Siêu thị mỹ phẩm</title>

    <meta name="author" content="CreativeLayers">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Boostrap style -->
    <link rel="stylesheet" type="text/css" href="~/home/stylesheets/bootstrap.min.css">

    <!-- Theme style -->
    <link rel="stylesheet" type="text/css" href="~/home/stylesheets/style.css">

    <!-- Reponsive -->
    <link rel="stylesheet" type="text/css" href="~/home/stylesheets/responsive.css">

    <link rel="shortcut icon" href="~/home/favicon/favicon.png">

    @*custom style*@
    <link rel="stylesheet" href="~/home/stylesheets/style-custom.css" />
</head>
<body class="header_sticky">
    <div class="boxed">
        <div class="overlay"></div>

        <!-- Preloader -->
        <div class="preloader">
            <div class="clear-loading loading-effect-2">
                <span></span>
            </div>
        </div><!-- /.preloader -->



        <section id="header" class="header">
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <ul class="flat-support">
                                <li>
                                    <a asp-action="NotFound" title="">Hỗ trợ</a>
                                </li>
                                <li>
                                    <a asp-action="NotFound" title="">Đến cửa hàng</a>
                                </li>
                                <li>
                                    <a href="/order/history" title="">Kiểm tra đơn hàng</a>
                                </li>
                            </ul><!-- /.flat-support -->
                        </div><!-- /.col-md-4 -->
                        <div class="col-md-4">
                            <ul class="flat-infomation">
                                <li class="phone">
                                    Liên hệ: <a asp-action="NotFound" title="">(888) 1234 56789</a>
                                </li>
                            </ul><!-- /.flat-infomation -->
                        </div><!-- /.col-md-4 -->
                        <div class="col-md-4">
                            <ul class="flat-unstyled">
                                @{
                                    @if (HttpContextAccessor.HttpContext.Session.GetInt32("CustomerID") != null)
                                    {
                                        <li class="account">
                                            <a title="">Chào @HttpContextAccessor.HttpContext.Session.GetString("Customer")<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                            <ul class="unstyled">
                                                <li>
                                                    <a asp-action="MyOrder" title="">Đơn hàng của tôi</a>
                                                </li>
                                                <li>
                                                    <a asp-action="NotFound" title="">Thông báo của tôi</a>
                                                </li>
                                                <li>
                                                    <a asp-action="NotFound" title="">Tài khoản của tôi</a>
                                                </li>
                                                <li>
                                                    <a asp-action="NotFound" title="">Sản phẩm yêu thích</a>
                                                </li>

                                                <li>
                                                    <a asp-action="HomeLogout" asp-controller="Account" title="">Thoát tài khoản</a>
                                                </li>
                                            </ul><!-- /.unstyled -->
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a asp-action="HomeLogin" asp-controller="Account" title="">Đăng nhập</a>
                                        </li>
                                    }

                                }
                                <li>
                                    <a asp-action="NotFound" title="">USD<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                    <ul class="unstyled">
                                        <li>
                                            <a asp-action="NotFound" title="">Euro</a>
                                        </li>
                                        <li>
                                            <a asp-action="NotFound" title="">Dolar</a>
                                        </li>
                                    </ul><!-- /.unstyled -->
                                </li>
                                <li>
                                    <a asp-action="NotFound" title="">Tiếng Việt<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                    <ul class="unstyled">
                                        <li>
                                            <a asp-action="NotFound" title="">Turkish</a>
                                        </li>
                                        <li>
                                            <a asp-action="NotFound" title="">English</a>
                                        </li>
                                        <li>
                                            <a asp-action="NotFound" title="">اللغة العربية</a>
                                        </li>
                                        <li>
                                            <a asp-action="NotFound" title="">Español</a>
                                        </li>
                                        <li>
                                            <a asp-action="NotFound" title="">Italiano</a>
                                        </li>
                                    </ul><!-- /.unstyled -->
                                </li>
                            </ul><!-- /.flat-unstyled -->
                        </div><!-- /.col-md-4 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.header-top -->
            <div class="header-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div id="logo" class="logo">
                                <a asp-action="Index" asp-controller="Home" title="">
                                    <img src="~/home/images/logos/logo.png" alt="">
                                </a>
                            </div><!-- /#logo -->
                        </div><!-- /.col-md-3 -->
                        <div class="col-md-6">
                            <div class="top-search">
                                <form action="#" method="get" class="form-search" accept-charset="utf-8">
                                    <!--<div class="cat-wrap">
                                        <select name="category">
                                            <option hidden value="">Danh mục</option>
                                            <option hidden value="">Cameras</option>
                                            <option hidden value="">Computer</option>
                                            <option hidden value="">Laptops</option>
                                        </select>
                                        <span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                                        <div class="all-categories">
                                            <div class="cat-list-search">
                                                <div class="title">
                                                    Điện tử
                                                </div>
                                                <ul>
                                                    <li>Điện thoại</li>
                                                    <li>Laptop</li>
                                                    <li>Máy tính bảng</li>
                                                    <li>Máy nghe nhạc</li>
                                                </ul>
                                            </div>--><!-- /.cat-list-search -->
                                        <!--</div>--><!-- /.all-categories -->
                                    <!--</div>--><!-- /.cat-wrap -->
                                    <div class="box-search">
                                        <input type="text" name="query" placeholder="Tìm kiếm tên sản phẩm">
                                        <input type="text" name="page" value='@Context.Request.Query["page"]' hidden>
                                        <span class="btn-search">
                                            <button asp-action="Index" type="submit" class="waves-effect"><img src="~/home/images/icons/search.png" alt=""></button>
                                        </span>


                                        <!-- /.search-suggestions -->


                                    </div><!-- /.box-search -->
                                </form><!-- /.form-search -->
                            </div><!-- /.top-search -->
                        </div><!-- /.col-md-6 -->
                        <div class="col-md-3">
                            <div class="box-cart">
                                <div class="inner-box">
                                    <ul class="menu-compare-wishlist">
                                        <li class="compare">
                                            <a asp-action="NotFound" title="">
                                                <img src="~/home/images/icons/compare.png" alt="">
                                            </a>
                                        </li>
                                        <li class="wishlist">
                                            <a asp-action="NotFound" title="">
                                                <img src="~/home/images/icons/wishlist.png" alt="">
                                            </a>
                                        </li>
                                    </ul><!-- /.menu-compare-wishlist -->
                                </div><!-- /.inner-box -->

                                @{ var carts = HttpContextAccessor.HttpContext.Session.GetObject<List<Cart>>("Carts");}
                                <div class="inner-box">
                                    <a asp-action="index" asp-controller="Carts" title="">
                                        <div class="icon-cart">
                                            <img src="~/home/images/icons/cart.png" alt="">
                                            <span>@Url.Content(carts == null ? "0" : "" + @carts.Count())</span>
                                        </div>
                                        <div class="price">
                                            $0.00
                                        </div>
                                    </a>
                                    @if (carts != null)
                                    {
                                        <div class="dropdown-box">
                                            <ul>
                                                @{ decimal total = 0; }
                                                @foreach (var item in carts)
                                                {
                                                    total += (item.Product.SalePrice * item.Quantity);
                                                    <li>
                                                        <div class="img-product">
                                                            @{

                                                                var image = item.Product.Files.FirstOrDefault(x => x.ProductId == item.ProductId & x.thumbnail);
                                                    if (image != null)
                                                    {
                                                        <img src="@Url.Content("~/"+image.Path)" />
                                                    }

                                                            }
                                                        </div>
                                                        <div class="info-product">
                                                            <div class="name">
                                                                @item.Product.Name
                                                            </div>
                                                            <div class="price">
                                                                <span>@item.Quantity x</span>
                                                                <span>@item.Product.SalePrice.ToString("0,0", System.Globalization.CultureInfo.CreateSpecificCulture("el-GR")) &#8363</span>
                                                            </div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                        <span class="delete">x</span>
                                                    </li>
                                                }

                                            </ul>
                                            <div class="total">
                                                <span>Tổng tiền:</span>
                                                <span class="price">@total.ToString("0,0", System.Globalization.CultureInfo.CreateSpecificCulture("el-GR")) &#8363</span>
                                            </div>
                                            <div class="btn-cart">
                                                <a asp-action="NotFound" class="view-cart" title="">Giỏ hàng</a>
                                                <a asp-action="NotFound" class="check-out" title="">Thanh toán</a>
                                            </div>
                                        </div>
                                    }

                                </div><!-- /.inner-box -->
                            </div><!-- /.box-cart -->
                        </div><!-- /.col-md-3 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.header-middle -->
            <div class="header-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-2">
                            <div id="mega-menu">
                                <div class="btn-mega"><span></span>Danh mục sản phẩm</div>
                                <ul class="menu">
                                    <li>
                                        <a asp-action="NotFound" title="" class="dropdown">
                                            <span class="menu-img">
                                                <img src="~/home/images/icons/menu/01.png" alt="">
                                            </span>
                                            <span class="menu-title">
                                                Trang điểm - Makeup
                                            </span>
                                        </a>
                                        @*<div class="drop-menu">
                                            <div class="one-third">
                                                <div class="cat-title">
                                                    Laptop chính hãng
                                                </div>
                                                <ul>
                                                    <li>
                                                        <a asp-action="NotFound" title="">Maccbook</a>
                                                    </li>
                                                    <li>
                                                        <a asp-action="NotFound" title="">Dell</a>
                                                    </li>
                                                    <li>
                                                        <a asp-action="NotFound" title="">Asus</a>
                                                    </li>
                                                    <li>
                                                        <a asp-action="NotFound" title="">HP</a>
                                                    </li>
                                                    <li>
                                                        <a asp-action="NotFound" title="">Lenovo</a>
                                                    </li>
                                                </ul>
                                                <div class="show">
                                                    <a asp-action="NotFound" title="">Xem thêm</a>
                                                </div>
                                            </div>
                                            <div class="one-third">
                                                <div class="cat-title">
                                                    Linh kiện máy tính
                                                </div>
                                                <ul>
                                                    <li>
                                                        <a asp-action="NotFound" title="">Tai nghe</a>
                                                    </li>
                                                    <li>
                                                        <a asp-action="NotFound" title="">Chuột máy tính</a>
                                                    </li>
                                                    <li>
                                                        <a asp-action="NotFound" title="">Ổ cứng di động</a>
                                                    </li>
                                                    <li>
                                                        <a asp-action="NotFound" title="">Ổ cứng HDD</a>
                                                    </li>
                                                    <li>
                                                        <a asp-action="NotFound" title="">Ổ cứng SSD</a>
                                                    </li>
                                                    <li>
                                                        <a asp-action="NotFound" title="">Bo mạch máy chủ - Mainboard</a>
                                                    </li>
                                                    <li>
                                                        <a asp-action="NotFound" title="">Card màn hình - VGA</a>
                                                    </li>
                                                    <li>
                                                        <a asp-action="NotFound" title="">CPU - Bộ xử lý</a>
                                                    </li>
                                                    <li>
                                                        <a asp-action="NotFound" title="">Case - Nguồn máy tính - Tản nhiệt</a>
                                                    </li>
                                                    <li>
                                                        <a asp-action="NotFound" title="">Ram máy tính</a>
                                                    </li>
                                                </ul>
                                                <div class="show">
                                                    <a asp-action="NotFound" title="">Xem thêm</a>
                                                </div>
                                            </div>
                                            <div class="one-third">
                                                <ul class="banner">
                                                    <li>
                                                        <div class="banner-text">
                                                            <div class="banner-title">
                                                                Headphones
                                                            </div>
                                                            <div class="more-link">
                                                                <a asp-action="NotFound" title="">Đến cửa hàng <img src="~/home/images/icons/right-2.png" alt=""></a>
                                                            </div>
                                                        </div>
                                                        <div class="banner-img">
                                                            <img src="~/home/images/banner_boxes/menu-01.png" alt="">
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </li>
                                                    <li>
                                                        <div class="banner-text">
                                                            <div class="banner-title">
                                                                TV & Audio
                                                            </div>
                                                            <div class="more-link">
                                                                <a asp-action="NotFound" title="">Đến cửa hàng <img src="~/home/images/icons/right-2.png" alt=""></a>
                                                            </div>
                                                        </div>
                                                        <div class="banner-img">
                                                            <img src="~/home/images/banner_boxes/menu-02.png" alt="">
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </li>
                                                    <li>
                                                        <div class="banner-text">
                                                            <div class="banner-title">
                                                                Laptop
                                                            </div>
                                                            <div class="more-link">
                                                                <a asp-action="NotFound" title="">Đến cửa hàng <img src="~/home/images/icons/right-2.png" alt=""></a>
                                                            </div>
                                                        </div>
                                                        <div class="banner-img">
                                                            <img src="~/home/images/banner_boxes/menu-03.png" alt="">
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>*@
                                    
                                    </li>
                                    <li>
                                        <a asp-action="NotFound" title="" class="dropdown">
                                            <span class="menu-img">
                                                <img src="~/home/images/icons/menu/02.png" alt="">
                                            </span>
                                            <span class="menu-title">
                                                Chăm sóc da - Skincare
                                            </span>
                                        </a>
                                        @*<div class="drop-menu">
                                            <div class="one-third">
                                                <div class="cat-title">
                                                    Smartphone Chính Hãng
                                                </div>
                                                <ul>
                                                    <li>
                                                        <a asp-action="NotFound" title="">Apple</a>
                                                    </li>
                                                    <li>
                                                        <a asp-action="NotFound" title="">Samsung</a>
                                                    </li>
                                                    <li>
                                                        <a asp-action="NotFound" title="">Oppo</a>
                                                    </li>
                                                    <li>
                                                        <a asp-action="NotFound" title="">Huawei</a>
                                                    </li>
                                                    <li>
                                                        <a asp-action="NotFound" title="">Nokia</a>
                                                    </li>
                                                    <li>
                                                        <a asp-action="NotFound" title="">Xiaomi</a>
                                                    </li>
                                                    <li>
                                                        <a asp-action="NotFound" title="">Asus</a>
                                                    </li>
                                                </ul>
                                                <div class="show">
                                                    <a asp-action="NotFound" title="">Xem thêm</a>
                                                </div>
                                            </div>
                                            <div class="one-third">
                                                <div class="cat-title">
                                                    Máy Tính Bảng
                                                </div>
                                                <ul>
                                                    <li>
                                                        <a asp-action="NotFound" title="">Máy đọc sách</a>
                                                    </li>
                                                    <li>
                                                        <a asp-action="NotFound" title="">Điện thoại phổ thông</a>
                                                    </li>
                                                    <li>
                                                        <a asp-action="NotFound" title="">Phụ kiện điện thoại</a>
                                                    </li>
                                                    <li>
                                                        <a asp-action="NotFound" title="">Smartphone selfie</a>
                                                    </li>
                                                    <li>
                                                        <a asp-action="NotFound" title="">Smartphone 2 sim 2 sóng</a>
                                                    </li>
                                                </ul>
                                                <div class="show">
                                                    <a asp-action="NotFound" title="">Xem thêm</a>
                                                </div>
                                            </div>
                                            <div class="one-third">
                                                <ul class="banner">
                                                    <li>
                                                        <div class="banner-text">
                                                            <div class="banner-title">
                                                                Headphones
                                                            </div>
                                                            <div class="more-link">
                                                                <a asp-action="NotFound" title="">Xem thêm <img src="~/home/images/icons/right-2.png" alt=""></a>
                                                            </div>
                                                        </div>
                                                        <div class="banner-img">
                                                            <img src="~/home/images/banner_boxes/menu-01.png" alt="">
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </li>
                                                    <li>
                                                        <div class="banner-text">
                                                            <div class="banner-title">
                                                                TV & Audio
                                                            </div>
                                                            <div class="more-link">
                                                                <a asp-action="NotFound" title="">Xem thêm <img src="~/home/images/icons/right-2.png" alt=""></a>
                                                            </div>
                                                        </div>
                                                        <div class="banner-img">
                                                            <img src="~/home/images/banner_boxes/menu-02.png" alt="">
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </li>
                                                    <li>
                                                        <div class="banner-text">
                                                            <div class="banner-title">
                                                                Computers
                                                            </div>
                                                            <div class="more-link">
                                                                <a asp-action="NotFound" title="">Xem thêm <img src="~/home/images/icons/right-2.png" alt=""></a>
                                                            </div>
                                                        </div>
                                                        <div class="banner-img">
                                                            <img src="~/home/images/banner_boxes/menu-03.png" alt="">
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>*@
                                    
                                    </li>
                                    <li>
                                        <a asp-action="NotFound" title="" class="dropdown">
                                            <span class="menu-img">
                                                <img src="~/home/images/icons/menu/03.png" alt="">
                                            </span>
                                            <span class="menu-title">
                                                Chăm sóc tóc - Hair
                                            </span>
                                        </a>
                                        @*<div class="drop-menu">
                                            <div class="one-third">
                                                <div class="cat-title">
                                                    Thiết Bị Âm Thanh
                                                </div>
                                                <ul>
                                                    <li>
                                                        <a asp-action="NotFound" title="">Tai nghe nhét tai</a>
                                                    </li>
                                                    <li>
                                                        <a asp-action="NotFound" title="">Tai nghe chụp tai</a>
                                                    </li>
                                                    <li>
                                                        <a asp-action="NotFound" title="">Tai nghe Bluetooth đàm thoại</a>
                                                    </li>
                                                    <li>
                                                        <a asp-action="NotFound" title="">Tai nghe nhạc Bluetooth</a>
                                                    </li>
                                                    <li>
                                                        <a asp-action="NotFound" title="">Tai nghe Bluetooth Thể Thao</a>
                                                    </li>
                                                </ul>
                                                <div class="show">
                                                    <a asp-action="NotFound" title="">Xem thêm</a>
                                                </div>
                                            </div>
                                            <div class="one-third">
                                                <div class="cat-title">
                                                    Phụ kiện điện thoại
                                                </div>
                                                <ul>
                                                    <li>
                                                        <a asp-action="NotFound" title="">Pin sạc dự phòng</a>
                                                    </li>
                                                    <li>
                                                        <a asp-action="NotFound" title="">Dây cáp sạc</a>
                                                    </li>
                                                    <li>
                                                        <a asp-action="NotFound" title="">Đế sạc không dây</a>
                                                    </li>
                                                </ul>
                                                <div class="show">
                                                    <a asp-action="NotFound" title="">Xem thêm</a>
                                                </div>
                                            </div>
                                            <div class="one-third">
                                                <ul class="banner">
                                                    <li>
                                                        <div class="banner-text">
                                                            <div class="banner-title">
                                                                Headphones
                                                            </div>
                                                            <div class="more-link">
                                                                <a asp-action="NotFound" title="">Xem thêm <img src="~/home/images/icons/right-2.png" alt=""></a>
                                                            </div>
                                                        </div>
                                                        <div class="banner-img">
                                                            <img src="~/home/images/banner_boxes/menu-01.png" alt="">
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </li>
                                                    <li>
                                                        <div class="banner-text">
                                                            <div class="banner-title">
                                                                TV & Audio
                                                            </div>
                                                            <div class="more-link">
                                                                <a asp-action="NotFound" title="">Xem thêm <img src="~/home/images/icons/right-2.png" alt=""></a>
                                                            </div>
                                                        </div>
                                                        <div class="banner-img">
                                                            <img src="~/home/images/banner_boxes/menu-02.png" alt="">
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </li>
                                                    <li>
                                                        <div class="banner-text">
                                                            <div class="banner-title">
                                                                Computers
                                                            </div>
                                                            <div class="more-link">
                                                                <a asp-action="NotFound" title="">Xem thêm <img src="~/home/images/icons/right-2.png" alt=""></a>
                                                            </div>
                                                        </div>
                                                        <div class="banner-img">
                                                            <img src="~/home/images/banner_boxes/menu-03.png" alt="">
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>*@
                                    
                                    </li>
                                    <li>
                                        <a asp-action="NotFound" title="">
                                            <span class="menu-img">
                                                <img src="~/home/images/icons/menu/04.png" alt="">
                                            </span>
                                            <span class="menu-title">
                                                Bath & Body
                                            </span>
                                        </a>
                                    </li>

                                    <li>
                                        <a asp-action="NotFound" title="">
                                            <span class="menu-img">
                                                <img src="~/home/images/icons/menu/06.png" alt="">
                                            </span>
                                            <span class="menu-title">
                                                Tools - Brushes
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-action="NotFound" title="">
                                            <span class="menu-img">
                                                <img src="~/home/images/icons/menu/08.png" alt="">
                                            </span>
                                            <span class="menu-title">
                                                Sản phẩm khác - Others
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-action="NotFound" title="">
                                            <span class="menu-img">
                                                <img src="~/home/images/icons/menu/10.png" alt="">
                                            </span>
                                            <span class="menu-title">
                                                Mini Size
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- /.col-md-3 -->
                        <div class="col-md-9 col-10">
                            <div class="nav-wrap">
                                <div id="mainnav" class="mainnav">
                                    <ul class="menu">
                                        <li class="column-1">
                                            <a asp-action="Index" asp-controller="Home" title="">Trang chủ</a>

                                        </li><!-- /.column-1 -->
                                        <li class="column-1">
                                            <a asp-action="NotFound" title="">Hàng mới về</a>
                                        </li><!-- /.column-1 -->
                                        <li class="column-1">
                                            <a asp-action="NotFound" title="">Khuyến mãi</a>
                                            <!--<ul class="submenu">
                                                <li>
                                                    <a asp-action="NotFound" title=""><i class="fa fa-angle-right" aria-hidden="true"></i>Hãng Apple</a>
                                                </li>
                                                <li>
                                                    <a asp-action="NotFound" title=""><i class="fa fa-angle-right" aria-hidden="true"></i>Hãng Samsung</a>
                                                </li>
                                                <li>
                                                    <a asp-action="NotFound" title=""><i class="fa fa-angle-right" aria-hidden="true"></i>Hãng Oppo</a>
                                                </li>
                                                <li>
                                                    <a asp-action="NotFound" title=""><i class="fa fa-angle-right" aria-hidden="true"></i>Hãng Asus</a>
                                                </li>
                                                <li>
                                                    <a asp-action="NotFound" title=""><i class="fa fa-angle-right" aria-hidden="true"></i>Hãng Huawei</a>
                                                </li>
                                                <li>
                                                    <a asp-action="NotFound" title=""><i class="fa fa-angle-right" aria-hidden="true"></i>Hãng Xiaomi</a>
                                                </li>
                                            </ul>--><!-- /.submenu -->
                                        </li><!-- /.column-1 -->
                                        <li class="column-1">
                                            <a asp-action="NotFound" title="">Beauty Tips/Review</a>
                                            <!--<ul class="submenu">
                                                <li>
                                                    <a asp-action="NotFound" title=""><i class="fa fa-angle-right" aria-hidden="true"></i>Hãng Apple</a>
                                                </li>
                                                <li>
                                                    <a asp-action="NotFound" title=""><i class="fa fa-angle-right" aria-hidden="true"></i>Hãng Samsung</a>
                                                </li>
                                                <li>
                                                    <a asp-action="NotFound" title=""><i class="fa fa-angle-right" aria-hidden="true"></i>Hãng Oppo</a>
                                                </li>
                                                <li>
                                                    <a asp-action="NotFound" title=""><i class="fa fa-angle-right" aria-hidden="true"></i>Hãng Asus</a>
                                                </li>
                                                <li>
                                                    <a asp-action="NotFound" title=""><i class="fa fa-angle-right" aria-hidden="true"></i>Hãng Huawei</a>
                                                </li>
                                                <li>
                                                    <a asp-action="NotFound" title=""><i class="fa fa-angle-right" aria-hidden="true"></i>Hãng Xiaomi</a>
                                                </li>
                                            </ul>--><!-- /.submenu -->
                                        </li><!-- /.column-1 -->
                                        <li class="column-1">
                                            <a asp-action="NotFound" title="">Cửa hàng</a>
                                            <!--<ul class="submenu">
                                                <li>
                                                    <a asp-action="NotFound" title=""><i class="fa fa-angle-right" aria-hidden="true"></i>Điện thoại</a>
                                                </li>
                                                <li>
                                                    <a asp-action="NotFound" title=""><i class="fa fa-angle-right" aria-hidden="true"></i>Laptop</a>
                                                </li>
                                                <li>
                                                    <a asp-action="NotFound" title=""><i class="fa fa-angle-right" aria-hidden="true"></i>Máy tính bảng</a>
                                                </li>
                                                <li>
                                                    <a asp-action="NotFound" title=""><i class="fa fa-angle-right" aria-hidden="true"></i>Phụ kiện công nghệ</a>
                                                </li>
                                            </ul>--><!-- /.submenu -->
                                        </li><!-- /.column-1 -->
                                        <li class="column-1">
                                            <a asp-action="NotFound" title="">Tuyển dụng</a>

                                        </li><!-- /.column-1 -->
                                    </ul><!-- /.menu -->
                                </div><!-- /.mainnav -->
                            </div><!-- /.nav-wrap -->
                            <!--<div class="today-deal">
                                <a asp-action="NotFound" title="">Đang khuyến mãi</a>
                            </div>--><!-- /.today-deal -->
                            <div class="btn-menu">
                                <span></span>
                            </div><!-- //mobile menu button -->
                        </div><!-- /.col-md-9 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.header-bottom -->
        </section><!-- /#header -->

        @RenderBody()

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="widget-ft widget-about">
                            <div class="logo logo-ft">
                                <a asp-action="NotFound" title="">
                                    <img src="~/home/images/logos/logo.png" alt="">
                                </a>
                            </div><!-- /.logo-ft -->
                            <div class="widget-content">
                                <div class="icon">
                                    <img src="~/home/images/icons/call.png" alt="">
                                </div>
                                <div class="info">
                                    <p class="questions">Liên hệ chúng tôi!</p>
                                    <p class="phone">Hotline: 098 7654 321</p>
                                    <p class="address">
                                        Nhổn, Minh Khai, Bắc Từ Liêm, Hà Nội
                                    </p>
                                </div>
                            </div><!-- /.widget-content -->
                            <ul class="social-list">
                                <li>
                                    <a asp-action="NotFound" title="">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a asp-action="NotFound" title="">
                                        <i class="fa fa-twitter" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a asp-action="NotFound" title="">
                                        <i class="fa fa-instagram" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a asp-action="NotFound" title="">
                                        <i class="fa fa-pinterest" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a asp-action="NotFound" title="">
                                        <i class="fa fa-dribbble" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a asp-action="NotFound" title="">
                                        <i class="fa fa-google" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul><!-- /.social-list -->
                        </div><!-- /.widget-about -->
                    </div><!-- /.col-lg-3 col-md-6 -->
                    <div class="col-lg-3 col-md-6">
                        <div class="widget-ft widget-categories-ft">
                            <div class="widget-title">
                                <h3>Về Sammishop</h3>
                            </div>
                            <ul class="cat-list-ft">
                                <li>
                                    <a asp-action="NotFound" title="">Giới thiệu</a>
                                </li>
                                <li>
                                    <a asp-action="NotFound" title="">Tuyển dụng</a>
                                </li>
                                <li>
                                    <a asp-action="NotFound" title="">Chính sách bảo mật thanh toán</a>
                                </li>
                                <li>
                                    <a asp-action="NotFound" title="">Chính sách bảo mật thông tin</a>
                                </li>
                                <li>
                                    <a asp-action="NotFound" title="">Chính sách giải quyết khiếu nại</a>
                                </li>
                                <li>
                                    <a asp-action="NotFound" title="">Điều khoản sử dụng</a>
                                </li>
                                <li>
                                    <a asp-action="NotFound" title="">Bán hàng doanh nghiệp</a>
                                </li>
                            </ul><!-- /.cat-list-ft -->
                        </div><!-- /.widget-categories-ft -->
                    </div><!-- /.col-lg-3 col-md-6 -->
                    <div class="col-lg-2 col-md-6">
                        <div class="widget-ft widget-menu">
                            <div class="widget-title">
                                <h3>Hợp tác liên kết</h3>
                            </div>
                            <ul>
                                <li>
                                    <a asp-action="NotFound" title="">
                                        Quy chế hoạt động sàn GDTMĐT
                                    </a>
                                </li>
                                <li>
                                    <a asp-action="NotFound" title="">
                                        Bán hàng cùng Sammishop
                                    </a>
                                </li>

                            </ul>
                        </div><!-- /.widget-menu -->
                    </div><!-- /.col-lg-2 col-md-6 -->
                    <div class="col-lg-4 col-md-6">
                        <div class="widget-ft widget-newsletter">
                            <div class="widget-title">
                                <h3>Đăng ký nhận bản tin Sammishop</h3>
                            </div>
                            <p>
                                Đừng bỏ lỡ hàng ngàn sản phẩm và chương trình siêu hấp dẫn
                            </p>
                            <form action="#" class="subscribe-form" method="get" accept-charset="utf-8">
                                <div class="subscribe-content">
                                    <input type="text" name="email" class="subscribe-email" placeholder="Địa chỉ email của bạn">
                                    <button type="submit"><img src="~/home/images/icons/right-2.png" alt=""></button>
                                </div>
                            </form><!-- /.subscribe-form -->
                            <ul class="pay-list">
                                <li>
                                    <a asp-action="NotFound" title="">
                                        <img src="~/home/images/logos/ft-01.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a asp-action="NotFound" title="">
                                        <img src="~/home/images/logos/ft-02.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a asp-action="NotFound" title="">
                                        <img src="~/home/images/logos/ft-03.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a asp-action="NotFound" title="">
                                        <img src="~/home/images/logos/ft-04.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a asp-action="NotFound" title="">
                                        <img src="~/home/images/logos/ft-05.png" alt="">
                                    </a>
                                </li>
                            </ul><!-- /.pay-list -->
                        </div><!-- /.widget-newsletter -->
                    </div><!-- /.col-lg-4 col-md-6 -->
                </div><!-- /.row -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="widget widget-apps">
                            <div class="widget-title">
                                <h3>Mobile Apps</h3>
                            </div>
                            <ul class="app-list">
                                <li class="app-store">
                                    <a asp-action="NotFound" title="">
                                        <div class="img">
                                            <img src="~/home/images/icons/app-store.png" alt="">
                                        </div>
                                        <div class="text">
                                            <h4>App Store</h4>
                                            <p>Available now on the</p>
                                        </div>
                                    </a>
                                </li><!-- /.app-store -->
                                <li class="google-play">
                                    <a asp-action="NotFound" title="">
                                        <div class="img">
                                            <img src="~/home/images/icons/google-play.png" alt="">
                                        </div>
                                        <div class="text">
                                            <h4>Google Play</h4>
                                            <p>Get in on</p>
                                        </div>
                                    </a>
                                </li><!-- /.google-play -->
                            </ul><!-- /.app-list -->
                        </div><!-- /.widget-apps -->
                    </div><!-- /.col-md-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </footer><!-- /footer -->

        <section class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="copyright">© Bản quyền thuộc về Đào Thu Hoài</p>
                        <p class="btn-scroll">
                            <a asp-action="NotFound" title="">
                                <img src="~/home/images/icons/top.png" alt="">
                            </a>
                        </p>
                    </div><!-- /.col-md-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.footer-bottom -->

    </div><!-- /.boxed -->
    <!-- Javascript -->
    <script type="text/javascript" src="~/home/javascript/jquery.min.js"></script>
    <script type="text/javascript" src="~/home/javascript/tether.min.js"></script>
    <script type="text/javascript" src="~/home/javascript/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/home/javascript/waypoints.min.js"></script>
    <!-- <script type="text/javascript" src="~/home/javascript/jquery.circlechart.js"></script> -->
    <script type="text/javascript" src="~/home/javascript/easing.js"></script>
    <script type="text/javascript" src="~/home/javascript/jquery.zoom.min.js"></script>
    <script type="text/javascript" src="~/home/javascript/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="~/home/javascript/owl.carousel.js"></script>
    <script type="text/javascript" src="~/home/javascript/smoothscroll.js"></script>
    <!-- <script type="text/javascript" src="~/home/javascript/jquery-ui.js"></script> -->
    <script type="text/javascript" src="~/home/javascript/jquery.mCustomScrollbar.js"></script>
    @*<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtRmXKclfDp20TvfQnpgXSDPjut14x5wk&amp;region=GB"></script>*@
    <script type="text/javascript" src="~/home/javascript/gmap3.min.js"></script>
    <script type="text/javascript" src="~/home/javascript/waves.min.js"></script>
    <script type="text/javascript" src="~/home/javascript/jquery.countdown.js"></script>

    <script type="text/javascript" src="~/home/javascript/main.js"></script>

    <!--Custom js-->
    <script src="~/home/javascript/script-custom.js"></script>

</body>

<!-- Mirrored from grandetest.com/theme/techno-html/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 23 Feb 2019 15:57:29 GMT -->
</html>
